
// Grossura da fonte
$light: 300;
$regular: 400;
$bold: 800;


// Definições de cores
$dark-primary-color: #0288d1;
$primary-color: #03a9f4;
$light-primary-color: #b3e5fc;
$text-icons: #fff;

$accent-color: #e040fb;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: #b6b6b6;


// Definições de fonte
$base-font-family: 'Open Sans', sans-serif;
$base-font-color: $primary-text;
$base-font-size: 13px;
$base-font-weight: $regular;
$base-line-height: 1.4;


// Definições de Tamanho
$small: 1em;
$medium: 1.4em;
$big: 2.6em;
