<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Crescer Saber - Educação Infantil</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/master.css">
</head>
<body>

  <nav id="menu-topo">
    <div class="container">
      <ul class="menu-lista">
        <li><a href="index.html">Inicial</a></li>
        <li><a href="projeto.html">Projeto</a></li>
        <li><a href="contato.html">Contato</a></li>
      </ul>
      <div class="icones">
        <a href="#" class="icones--email"></a>
        <a href="#" class="icones--facebook"></a>
        <a href="#" class="icones--twitter"></a>
      </div>
    </div>
  </nav>

  <header id="header" class="interna" style="background-image: url(../images/origami_windmill_hires.JPG)">
  </header>

  <div id="conteudo" class="interna">
    <h1>Contato</h1>

    <div class="container">
      <div class="form-group name">
        <label>Nome</label>
        <input type="text" class="campo">
      </div>
      <div class="form-group email">
        <label>Email</label>
        <input type="text" class="campo">
      </div>
      <div class="form-group city">
        <label>Cidade</label>
        <input type="text" class="campo">
      </div>
      <div class="form-group mensagem">
        <label>Mensagem</label>
        <textarea class="campo campo-mensagem"></textarea>
      </div>
    </div>

    <div id="rodape">Desenvolvido por <span>Yuri Santos</span></div>
  </div>

</body>
</html>
