<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Crescer Saber - Educação Infantil</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/master.css">
</head>
<body>

  <nav id="menu-topo">
    <div class="container">
      <ul class="menu-lista">
        <li><a href="index.html">Inicial</a></li>
        <li><a href="projeto.html">Projeto</a></li>
        <li><a href="contato.html">Contato</a></li>
      </ul>
      <div class="icones">
        <a href="#" class="icones--email"></a>
        <a href="#" class="icones--facebook"></a>
        <a href="#" class="icones--twitter"></a>
      </div>
    </div>
  </nav>

  <header id="header" class="interna" style="background-image: url(../images/paper_craft_hires.JPG)">
  </header>

  <div id="conteudo" class="interna">
    <div class="container">
      <h1>Projeto</h1>
      <img src="../images/kid_studying_beanbag_hires.JPG" class="img-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat volutpat orci vel molestie. Etiam vel viverra erat. Nullam commodo leo nibh, dignissim vulputate neque auctor eu. Ut eu velit ac sapien placerat faucibus nec eu nunc. Integer in tellus non lorem pharetra posuere. Integer volutpat nunc at sodales molestie. Vestibulum non odio arcu. Aenean vestibulum mauris at ultricies venenatis. Donec sollicitudin neque est. Proin eget ipsum non eros tristique semper ac nec felis. Donec quis commodo tortor. Donec placerat ullamcorper accumsan.</p>
      <p>Pellentesque fringilla aliquam urna quis suscipit. Sed sit amet tellus mi. Nullam sed placerat mauris. Donec eu tellus eget felis egestas aliquam. Nam a nulla id dui ullamcorper mollis a vel mi. Proin consequat nisl nec suscipit vestibulum. Ut ullamcorper semper enim, at sagittis nisl tincidunt in. Proin eget tellus odio. Aliquam laoreet urna sed orci sodales pharetra non sed mauris. Duis volutpat, metus vel blandit ultrices, ante nisl dapibus nisi, a rhoncus lorem nunc quis nisi.</p>
      <p>Nam vel sem varius, rhoncus purus a, ultricies erat. Cras vitae semper lorem. Quisque dignissim mollis libero, sit amet commodo sapien tincidunt et. Donec ac nibh porttitor, fringilla felis nec, tincidunt sem. Maecenas mollis dapibus ante eget tincidunt. Maecenas urna erat, commodo quis diam vitae, accumsan fermentum orci. Ut pretium, elit sed ullamcorper dictum, mauris purus ultrices neque, at malesuada magna nisi posuere odio. Nulla eu efficitur nunc. Fusce ultricies laoreet justo at sagittis.</p>
      <p>Quisque dapibus efficitur consectetur. In commodo massa et justo suscipit scelerisque. Sed eget erat vitae magna aliquet laoreet. In varius nibh neque, ornare pellentesque nisl viverra placerat. Integer egestas lacus est, sed viverra nunc dignissim ut. Ut eu risus pharetra, vestibulum orci vel, lacinia quam. Cras eu iaculis quam, ut finibus turpis. Mauris viverra pharetra rutrum. Pellentesque dictum pellentesque ultrices. Maecenas et facilisis massa. Nulla non tortor eros. Vestibulum euismod luctus pharetra.</p>
      <img src="../images/1407375526wpdm_girl_painting_hires.JPG" class="img-left">
      <p>Nam vulputate mauris sit amet nisi imperdiet, ornare ullamcorper velit vulputate. Pellentesque varius dolor id eleifend sagittis. Vivamus vestibulum, sem vel ultrices faucibus, magna libero tempor ante, quis consequat sapien augue in eros. Suspendisse blandit, eros vitae suscipit ultrices, lectus ante maximus ipsum, nec accumsan dui odio sed mi. Nullam lacinia nisl faucibus tortor efficitur consequat. Quisque condimentum ultricies euismod. Nullam hendrerit euismod velit. Praesent urna diam, bibendum eget dictum ut, lacinia nec ligula. Nam ante sem, pellentesque nec metus vitae, efficitur consequat nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vitae congue nisi. Vivamus eu velit eu erat condimentum finibus vel at felis.</p>
      <p>Suspendisse nisl lorem, aliquam sed maximus non, aliquam vitae lectus. Duis et feugiat odio. Vestibulum vitae enim vel sem pellentesque venenatis ut non velit. Nam consequat nec felis nec tristique. Aenean pharetra vel felis eu semper. Nunc tempor elit sit amet sollicitudin lobortis. Quisque accumsan arcu eu orci hendrerit mollis. Ut nisl purus, condimentum non auctor in, aliquet id leo. Nam ac lectus egestas, convallis nulla sed, viverra nisi. Sed sed feugiat nisi. Phasellus libero tellus, accumsan egestas magna vitae, hendrerit commodo felis. Suspendisse porttitor libero molestie sem condimentum egestas. Donec orci lectus, ultricies at elementum blandit, sodales vitae est. Integer sollicitudin, tellus sit amet pellentesque tempor, metus diam aliquam nulla, vel scelerisque ipsum ligula vitae ipsum. Mauris id ultricies ex.</p>
      <p>Praesent in odio pretium arcu sodales fringilla id at neque. Integer eu odio sollicitudin, ultricies ante id, placerat ante. Pellentesque sit amet libero non urna vehicula varius quis a nisl. Donec eleifend metus eget sem scelerisque, eget rhoncus urna sollicitudin. Maecenas laoreet cursus imperdiet. Nulla blandit pulvinar tristique. Aenean vel neque rutrum, accumsan orci ac, ultricies tellus. Phasellus tempus venenatis suscipit. Mauris fringilla eget tellus nec sagittis. Fusce non nunc quis odio vestibulum elementum vel at ante. Integer consectetur suscipit eros. Aenean nec efficitur sem.</p>
      <p>Proin egestas metus neque, eu fringilla enim fermentum et. Fusce vitae metus ipsum. Pellentesque in varius elit. Fusce ullamcorper eget odio a posuere. Maecenas vel arcu et dolor cursus imperdiet in sed nisl. Sed blandit ut massa vel facilisis. Donec eleifend commodo ipsum sit amet pretium. Duis eu rutrum odio. Cras in tristique quam. Curabitur eu molestie orci, non semper turpis. Praesent aliquet orci quis magna mollis gravida. Nam eleifend sem mi, ut tempor nunc venenatis et. </p>
    </div>
    <div id="rodape">Desenvolvido por <span>Yuri Santos</span></div>
  </div>

</body>
</html>
